# next.js build output
.next
# dotenv environment variables file (build for Zeit Now)
.env
.env.build
xtickets-ab876349e8b0.json
# Dependency directories
node_modules/
http-requests/
nats-test/
doc/
build/
# Logs
npm-debug.log*
