.Footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  background: #e6e9eb;
  text-align: center;
  padding: 15px;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 8rem;
}

.Link {
  color: #007bff !important;
}

.Centerized {
  justify-content: center !important;
}
