.Footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  background: #e6e9eb;
  text-align: center;
  padding: 15px;
}

.Link {
  color: #007bff !important;
}

.Row {
  margin-top: 10px;
}

.Centerized {
  justify-content: center !important;
}
