.NavItem {
  &:hover {
    font-weight: 500;
  }
}

.NavBar {
  width: 150px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 20px;
}

.NavBarWrapper {
  justify-content: space-between;
}

.Collapse {
  flex-grow: unset;
}

.NavBrand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}

.HomeIcon {
  width: 45px !important;
  height: unset;
}
