.Wrapper {
  text-align: center;
  max-width: 460px;
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.SubmitButton {
  width: 100%;
  margin-top: 35px;
}

.UploadWrapper {
  margin-top: 1rem;
  text-align: left;
}
